<h1>Sign up</h1>

<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<div class='field'>
		<div>
		<%= f.label :name %>
		</div>
		<div>
		<%= f.text_field :name %>
		</div>
	</div>
	<div class='field'>
		<div>
		<%= f.label :email %>
		</div>
		<div>
		<%= f.text_field :email %>
		</div>
	</div>
	<div class='field'>
		<div>
		<%= f.label :password %>
		</div>
		<div>
		<%= f.password_field :password %>
		</div>
	</div>
	<div class='field'>
		<div>
		<%= f.label :password_confirmation, "Confirm Password" %>
		</div>
		<div>
		<%= f.password_field :password_confirmation %>
		</div>
	</div>
	<div class="field">
		<div>
		<%= f.label :personal_account_name, "Account Name" %>
    	</div>
	    <div>
		<%= f.text_field :personal_account_name %>
		</div>
	</div>
	<div class='actions'>
		<%= f.submit "Sign up" %>
	</div>
<% end %>