<%= form_for(@new_project) do |f| %>
<div class="field">
  <%= f.label :name, "Name new project" %><br />
  <%= f.text_field :name %> <br />
</div>
<%= f.hidden_field :created_by, :value => @current_user.id%>
<%= f.hidden_field :account_id, :value => @account.id%>
<div class="actions">
	<%= f.submit "Create" %>
</div>
<% end %>	


