<table>
  <h1><%= @project.name %></h1>
    <div class="span-24">
      <nav class="product">
	    <ul>
	      <li><%= link_to 'Home', user_path(current_user) %></li>
        </ul>
	  </nav>
	</div>
	<br/>
	<div class="action span-24">
	<nav class="action">
		<ul>
		  <li><%= link_to @items_text, project_path(:command=>@items_command) %></li>
		</ul>
	</nav>
	</div>	
	<tr>
		<% if @command_form_partial %>
  		  <td class="sidebar">
			<%= render @command_form_partial %>
		  </td>
		<% end %>
		<td class="main">
			<% if @items_partial %>
			  <%= render @items_partial %>
			<% end %>
		</td>
	</tr>
</table>
