<% logo = image_tag("logo.png", alt: "Sirocco App", class: "system_logo") %>
<%= link_to logo, root_path %>

<nav id="sys-nav">
  <ul>
	  <% if signed_in? %>
		<li>
		  <%= gravatar_for current_user, :size => 30 %>
		  <%= link_to current_user.name, edit_user_path(current_user) %>			
		</li>
	  <% end %>
	  <% if signed_in? %>			
		  <li><%= link_to "Sign out", signout_path, method: :delete , id: "sign_out_link" %></li>
	  <% else %>
		  <li><%= link_to "Sign in", signin_path, id:"sign_in_link" %></li>
	  <% end %>
  </ul>
</nav>