<%= form_for(@new_account) do |f| %>
<div class="field">
  <%= f.label :name, "Name new account" %><br />
  <%= f.text_field :name %> <br/>
</div>
<%= f.hidden_field :created_by, :value => @current_user.id%>
<div class="actions">
	<%= f.submit "Create" %>
</div>
<% end %>	


